<form action="/new_post" method="post"
  <label for = "titulo">
  <h3>Titulo del post</h3>
  <input type = "text" id = "titulo" name = "titulo">
  <br>
  <label for = "texto">
  <h3>Texto</h3>
  <!-- <input type = "text" id = "texto" name = "texto"> -->
  <textarea name="texto" id = "texto" rows="10" cols="40">Escribe aquí tu post</textarea>
  <br>
  <label for = "categoria">
  <h3>Categoria</h3>
  <input type = "text" id = "categoria" name = "categoria">
  <br>
  <label for = "autor">
  <h3>Autor</h3>
  <input type = "text" id = "autor" name = "autor">
  <input type = "submit">
</form>




<!-- <textarea name="comentarios" rows="10" cols="40">Escribe aquí tus comentarios</textarea> -->
